<section xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <style>
        .item{
            padding: 1em;
        }
    </style>

    <div class="mt-xl-5" style="margin: auto; width: 25%;">
        <div class="item race">
            <a href="/admin/addRace" class="btn btn-block btn-info">Add Race</a>
            <a href="/admin/editRace" class="btn btn-block btn-info">Edit Race</a>
            <a href="/admin/deleteRace" class="btn btn-block btn-danger">Remove Race</a>
        </div>
        <div class="item city">
            <a href="/admin/addCity" class="btn btn-block btn-info">Add City</a>
            <a href="/admin/deleteCity" class="btn btn-block btn-danger">Remove City</a>
        </div>
        <div class="item country">
            <a href="/admin/addCountry" class="btn btn-block btn-info">Add Country</a>
            <a href="/admin/deleteCountry" class="btn btn-block btn-danger">Remove Country</a>
        </div>
        <div class="item organizer">
            <a href="/admin/addOrganizer" class="btn btn-block btn-info">Add Organizer</a>
            <a href="/admin/deleteOrganizer" class="btn btn-block btn-danger">Remove Organizer</a>
        </div>
        <div class="item user">
            <a href="/admin/giveAdmin" class="btn btn-block btn-light">Give Admin Permissions</a>
            <a href="/admin/deleteUser" class="btn btn-block btn-light">Delete User</a>
        </div>

    </div>
</section>