<section xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="container" style="width: 60%; margin: auto; margin-top: 5em;">
        <div class="ui items" th:each="race : ${races}">
            <div class="item">
                <div class="image">
                    <th:block th:if="${race.trackPhoto != null}">
                        <img th:src="${'data:image/jpeg;charset=utf-8;base64,' + race.getBase64()}" alt="#">
                    </th:block>
                </div>
                <div class="content" style="padding-top: 1rem">
                    <a class="header" th:text="${race.raceDescription}"
                       th:href="@{'/race/{id}' (id=${race.getId()})}" style="color: #e1e3e6"></a>
                    <div class="meta" style="color: #e1e3e6">
                        <span th:text="${race.city.cityName + ', ' + race.city.country.getCountryName()}"></span>
                    </div>
                    <div class="description">
                        <p></p>
                    </div>
                </div>
                <div class="extra">
                    <div class="ui right floated">
                        <form th:action="@{'/admin/deleteRace/{id}' (id=${race.getId()})}"
                              th:method="POST">
                            <button type="submit"
                                    class="btn btn-sm btn-danger delete-product" onclick="return confirm('Are you sure?')">
                                <i class="fa fa-trash">Delete</i>
                            </button>
                        </form>
                        <i class="right chevron icon"></i>
                    </div>
                </div>
            </div>
        </div>
</section>