<section xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="container" style="width: 60%; margin: auto; margin-top: 5em;">
        <div class="ui items" th:each="photo : ${photos}">
            <div class="item">
                <div class="image">
                    <img th:src="${'data:image/jpeg;charset=utf-8;base64,' + photo.getBase64()}" alt="#">
                </div>
                <th:block th:if="${photo.getIsProfilePicture()}"><p class="text-white">Current Profile Picture</p>
                </th:block>
                <div class="extra">
                    <div class="ui right floated">
                        <form th:action="@{'/deletePhoto/{id}' (id=${photo.getId()})}"
                              th:method="POST">
                            <button type="submit"
                                    class="btn btn-sm btn-danger delete-product" onclick="return confirm('Are you sure?')">
                                <i class="fa fa-trash">Delete</i>
                            </button>
                        </form>
                        <i class="right chevron icon"></i>
                    </div>
                </div>
            </div>
        </div>
</section>